*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: jost-regular;
    src: url(../fonts/jost-regular-webfont.woff);
}
@font-face {
    font-family: jost-medium;
    src: url(../fonts/jost-medium-webfont.woff);
}
@font-face {
    font-family: jost-semibold;
    src: url(../fonts/jost-semibold-webfont.woff);
}
@font-face {
    font-family: playfairdisplay-regular;
    src: url(../fonts/playfairdisplay-regular-webfont.woff);
}
body{
    background-color: #ffffff;
    -webkit-tap-highlight-color: transparent;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    font-family: jost-regular;
    padding: 6px 1%;
}
.left{
    font-size: 12px;
    display: flex;
    align-items: center;
}
.right ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.right ul li{
    list-style: none;
    padding: 0 10px;
}
.right ul li a{
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: #303030;
}
.right ul li a img{
    width: 16px;
}
.right ul li a span{
    font-size: 16px;
}
.right ul li a .flag-side{
margin-bottom: -3px;
}
.line {
    border: 1px solid #3030301a;
    width: 97%;
    text-align: center;
    margin-left: 16px;
}